input[type=text]{
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 20px 0;
    border: 3px solid salmon;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: seagreen;

}

#search{
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-position: 8px 15px;
    font-size: 1rem;
    padding: 15px 40px;
    background-color: white;
    width: 150px;
    transition: width 0.3s ease-in-out ;
}

#search:focus{
    background-color: sienna;
    width: 100%;
}


textarea{
    resize: none ;
    width: 50%;
    height: 100px;
    padding: 20px;
    border: 3px solid gray;
    border-radius: 10px;
}

input[type=button], input[type=reset]{
    background-color: orange;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

select{
    width: 50%;
    padding: 15px;
    background-color: green;
    border-radius: 10px;
    border:none;
    margin-bottom: 10px;
}

option{
    background-color: tomato;
    padding: 5px;
    height: 20px;
}